@model WebApplication1.Models.ProfesorCreateModel

@{
    ViewData["Title"] = "Dodaj novog profesora";
}

<h1>Dodaj novog profesora</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Ime"></label>
        <input asp-for="Ime" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Prezime"></label>
        <input asp-for="Prezime" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Lozinka"></label>
        <input asp-for="Lozinka" class="form-control" />
    </div>

    <div class="form-group">
        <label>Predmet</label>
        <select asp-for="Predmet" asp-items="Model.Predmeti" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj profesora</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
